* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 450vh;
    background-color: var(--bg-black-900);
}
.position{
    margin-left: 20%;
    margin-top: 5%;
}
.home {
    height: 100%;
    transition: margin-left 1s ease;
}


:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --color-11: #643fe9;
    --color-12: #2383dd;
    --txt-color: #000000;
}
/*-----------------------------------menu lateral-----------------------------------*/
.main {
    transition: all 1s ease;
}
.container-menu {
    height: 100%;
    width: 7%;
    background-color: var(--bg-black-900);
    position: fixed;
    transition: width 1s ease;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}

.container-menu.expandir {
    width: 26vh;   
}

ul {
    margin-top: 50px;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.item-menu a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 30px 0 30px 1%;
    font-size: 20px;
    transition: background-color 0.3s;
    line-height: 10px;
    margin-left: 30px;
}

.item-menu a:hover {
    background-color: #ffffff;
}

ul li.item-menu a .icon {
    margin-left: 5px;
}

ul li.item-menu a .icon i {
    font-size: 20px;
}

ul li a .txt-menu {
    font-family: "Sour Gummy", sans-serif;
    font-size: 20px;
    margin-left: 10px;
    transition: opacity 0.8s, pointer-events 0.8s;
    opacity: 0;
    pointer-events: none;
}

.container-menu.expandir .txt-menu {
    opacity: 1;
    pointer-events: auto;
}

.logo {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 14vh;
    border-radius: 50%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3%;
}

.button i {
    font-size: 2rem;
    transition: transform 0.8s, color 0.8s;
    cursor: pointer;
    margin-top: 50px;
}

.button i:hover {
    transform: scale(1.2);
    color: var(--color-12);
}

/*-----------------------------------home-page-----------------------------------*/
.home {
    height: 100vh;
    display: flex;
}
.container-home p {
    margin-left: 250px;
    font-size: 42px;
    font-family: "Sour Gummy", sans-serif;
    transition: all 1s ease;
    position: absolute;
    margin-top: 4%;
    color: var(--color-12);
}
.container-home h1 {
    margin-left: 250px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    transition: all 1s ease;
    position: absolute;
    margin-top: 8%;
}
.container-home h1 span{
    color: var(--color-12);
    font-family: "Sour Gummy", sans-serif;
}
.container-home h2 {
    margin-left: 250px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    transition: all 1s ease;
    position: absolute;
    margin-top: 11%;
}
.container-home h2 span{
    color: var(--color-12);
    font-family: "Sour Gummy", sans-serif;
}
.img-eu{
    position: absolute;
    margin-left: 65%;
    margin-top: 9%;
}

.img-eu img{
    width: 30vh;
    border-radius: 9%;
    transition: all 0.6s ease;
}
.img-eu img:hover{
    transform: scale(1.1);
    transition: all 0.6s ease;
}

.btn{
    margin-left: 50%;
    margin-top: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-12);
    cursor: pointer;
    transition: all 0.8s ease;
    position: absolute;
}
.btn:hover {
    color: #ffffff;
    background-color: var(--txt-color);
}
.btn i{
    font-size: 25px;
    transition: all 1s ease;
    color: var(--bg-black-100);
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(30px);
    }
    60% {
        transform: translateY(15px);
    }
}

.bounce {
    animation: bounce 1s;
}
/*-----------------------------------about-----------------------------------*/

.container-about {
    height: 25%;
}
.about{
    margin-left: 250px;
    position: absolute;
}
.about p{
    width: 90%;
    font-size: 20px;
    font-family: "sour gummy", sans-serif;
    text-indent: 35px;
    text-align: justify;
}

.wrapper {
    width: 50%;
    height: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin: 3rem auto;
    overflow: hidden;
    margin-top: 200px;
    margin-left: 50%;
    transform: translateX(-40%);
    position: absolute;
}

.wrapper-holder {
    display: grid;
    grid-template-columns: repeat(6, 100%); /* Ajuste fino para colunas */
    height: 100%;
    width: 100%; /* Ajuste para considerar todas as imagens */
    animation: slider 50s ease-in-out infinite; /* Duracao reduzida para 20 segundos */
    transition: transform 1s ease;
    cursor: pointer;
}

.wrapper-holder div {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    padding: 0; 
    margin: 0;
}

.wrapper-holder div:hover {
    transform: scale(1.1);
}

#slider-img-1 {
    background-image: url(/img/IMG-01.png);
}

#slider-img-2 {
    background-image: url(/img/IMG-02.png);
}

#slider-img-3 {
    background-image: url(/img/IMG-03.png);
}

#slider-img-4 {
    background-image: url(/img/IMG-04.png);
}

#slider-img-5 {
    background-image: url(/img/IMG-05.png);
}
#slider-img-6 {
    background-image: url(/img/IMG-06.png);
}

@keyframes slider {
    0% { transform: translateX(0%); }
    16.66% { transform: translateX(-100%); }
    33.33% { transform: translateX(-200%); }
    50% { transform: translateX(-300%); }
    66.66% { transform: translateX(-400%); }
    83.33% { transform: translateX(-500%); }
    100% { transform: translateX(0%); } /* Volta para a primeira imagem sem espaço em branco */
}

/*---------------------------------experience-----------------------------------*/

.experience {
    height: 100vh;
    transition: all 1s ease; 
}
.container-experience {
    width: 100%;
    height: 100%;
    margin-left: 250px;
    position: absolute;
}
.experience h1 {
    margin-left: 250px;
}
.container-experience p{
    font-family: "sour gummy", sans-serif;
    font-size: 20px;
    width: 900px;
    text-indent: 35px;
    text-align: justify;
    margin-top: 12px;
}

.container-carrosel { 
    width: 70%; 
    height: 50%;
    overflow: hidden; 
    position: relative;
    margin-top: 20px; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
} 
.carrosel { 
    display: flex; 
    transition: transform 0.5s ease; 
    cursor: grab;
    height: 80vh;
} 
.carrosel .card { 
    min-width: 100%; 
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center; 
    background-color: #f0f0f0; 
} 
.carrosel .card h2 { 
    margin: 0; 
} 
.botao-anterior, .botao-proximo { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 50%;
} 
.botao-anterior { 
    left: 10px; 
} 
.botao-proximo { 
    right: 10px; 
}


/*---------------------------------Development-----------------------------------*/

.development {
    height: 100vh;
    margin-top: 7%;
    transition: all 1s ease;
    background-color: #643fe9;
}
.development.expandir{
    margin-left: 200px;
    transition: all 1s ease;
}

.container-development p{
    font-family: "sour gummy", sans-serif;
    font-size: 20PX;
}

.container-development {
    margin-left: 250px;
}
